<form>



  <h1>Sign up</h1>

  <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example1" class="form-control" />
            <%= f.label :first_name %><br />
            
      </div>
    </div>

    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example1" class="form-control" />
          <%= f.label :last_name %><br />
          
      </div>
    </div>

  </div>

  <!--the second row of input fields, username and email-->
  <div class="row mb-5">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example1" class="form-control" />
          <%= f.label :username %><br />
      </div>
    </div>

    <div class="col">
      <div class="form-outline">
        <input type="email" id="form3Example1" class="form-control" />
          <%= f.label :email %><br />  
      </div>
    </div>
  </div>

  <!-- the third row of input fields, pass word and password confirmation-->
  <div class="row mb-6">
    <div class="col">
      <div class="form-outline">
        <input type="password" id="form3Example1" class="form-control" />
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
      </div>
    </div>

    <div class="col">
      <div class="form-outline">
        <input type="password" id="form3Example1" class="form-control" />
          <%= f.label :password_confirmation%><br />  
      </div>
    </div>
  </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      <%= f.submit "Sign up", new_session_path(resource_name) %> 
    </button>


</form>
<% end %>

<%= render "devise/shared/links" %>
